$navbar-header-bk:#64a51a;

$rpanel-title-bk:#64a51a;

$breadcrumb-active:#64a51a;

$sidebar-bk:#2f323e;

$sidebar-box-shadow:rgba(0, 0, 0, 0.08);

$sidebar-head-bk:#2f323e;

$sidebar-head-h3:#ffffff;

$sidemenu-li-a:#ffffff;

$sidemenu-li-a-active-bk:#64a51a;

$sidemenu-li-a-hover:#ffffff;

$sidemenu-li-a-active:#64a51a ;

$bg-theme-dark-bk:#64a51a ;

$btn-custom:#64a51a;

$btn-custom-hover:#64a51a;

$custom-tab-a:#64a51a;

$nav-pills-a:#64a51a ;

$extra-css:#64a51a;

@import '../../common/leftMenu.scss';
@import '../../blue/flat_left_menu.scss';