

$skin-color:#64a51a;

$dialog-ct:#64a51a;

$basicTab:#64a51a;

$btn-current:#64a51a;

$selectbox-wrapper-li-selected-bk:#64a51a;

@import '../../common/styleCommon.scss';
@import '../../blue/style.scss';


