$navbar-header-bk-common:$navbar-header-bk;

$rpanel-title-bk-common:$rpanel-title-bk;

$breadcrumb-active-common:$breadcrumb-active;

$sidebar-bk-common:$sidebar-bk;

$sidebar-box-shadow-common:$sidebar-box-shadow;

$sidebar-head-bk-common:$sidebar-head-bk;

$sidebar-head-h3-common:$sidebar-head-h3;

$sidemenu-li-a-common:$sidemenu-li-a;

$sidemenu-li-a-active-bk-common:$sidemenu-li-a-active-bk;

$sidemenu-li-a-hover-common:$sidemenu-li-a-hover;

$sidemenu-li-a-active-common:$sidemenu-li-a-active ;

$bg-theme-dark-bk-common:$bg-theme-dark-bk;

$btn-custom-common:$btn-custom;

$btn-custom-hover-common:$btn-custom-hover;

$custom-tab-a-common:$custom-tab-a;

$nav-pills-a-common:$nav-pills-a;

$extra-css-common:$extra-css;
