

$skin-color-common:$skin-color;

$dialog-ct-common:$dialog-ct;

$basicTab-common:$basicTab;

$btn-current-common:$btn-current;

$selectbox-wrapper-li-selected-bk-common:$selectbox-wrapper-li-selected-bk;
