$navbar-header-bk:#015198;

$rpanel-title-bk:#2cabe3;

$breadcrumb-active:#2cabe3;

$sidebar-bk:#2f323e;

$sidebar-box-shadow:rgba(0, 0, 0, 0.08);

$sidebar-head-bk:#2f323e;

$sidebar-head-h3:#ffffff;

$sidemenu-li-a:#ffffff;

$sidemenu-li-a-active-bk:#ff7676;

$sidemenu-li-a-hover:#ffffff;

$sidemenu-li-a-active:#ffffff;

$bg-theme-dark-bk:#2cabe3 ;

$btn-custom:#2cabe3;

$btn-custom-hover:#2cabe3;

$custom-tab-a:#2cabe3;

$nav-pills-a:#2cabe3 ;

$extra-css:#2cabe3 ;

@import '../../common/leftMenu.scss';
@import '../../blue/flat_left_menu.scss';

