

$skin-color:#015198;

$dialog-ct:#183EAD;

$basicTab:#0645FF;

$btn-current:#0066cc;

$selectbox-wrapper-li-selected-bk:#015198;

@import '../../common/styleCommon.scss';
@import '../../blue/style.scss';


