$navbar-header-bk:#2cabe3;

$rpanel-title-bk:#2cabe3;

$breadcrumb-active:#2cabe3;

$sidebar-bk:#ffffff;

$sidebar-box-shadow:rgba(0, 0, 0, 0.3);

$sidebar-head-bk:#ffffff;

$sidebar-head-h3:#54667A;

$sidemenu-li-a:#54667A;

$sidemenu-li-a-active-bk:#2cabe3;

$sidemenu-li-a-hover:#2cabe3;

$sidemenu-li-a-active:#2cabe3 ;

$bg-theme-dark-bk:#2cabe3 ;

$btn-custom:#2cabe3;

$btn-custom-hover:#2cabe3;

$custom-tab-a:#2cabe3;

$nav-pills-a:#2cabe3 ;

$extra-css:#2cabe3 ;

@import '../../common/leftMenu.scss';
@import '../../blue/flat_left_menu.scss';


