

$skin-color:#2cabe3;

$dialog-ct:#2cabe3;

$basicTab:#2cabe3;

$btn-current:#2cabe3;

$selectbox-wrapper-li-selected-bk:#2cabe3;

@import '../../common/styleCommon.scss';
@import '../../blue/style.scss';

